* {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(80, 80, 80);
}
#game{
    background-image: url(./images/background1.jpg);
    margin: 2% 25% 2% 25%;
    position: absolute;
    top: 125px;
    z-index: -5;
    width: 950px;
    height: 630px;
    border: 1px solid black;
    z-index: -10;
    overflow: hidden;
}
#instructions {
    position: absolute;
    width: 950px;
    top: 780px;
    margin-left: 24%;
}
.card.overInst {
    width: 950px;
    height: 280px;
    padding: 2%;
}
.signOut {
    position: absolute;
    top: 191px;
    left: 800px;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#character {
    width: 74px;
    height: 100px;
    /* background-color: red; */
    position: relative;
    top: 441px;
    left: 50px;
}
button#jump {
    position: relative;
    /* top: -497px; */
    top: -206px; /*for demo only*/
    left: 10px;
    width: 75px;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    display: inline-block;
    font-weight: 400;
}
#temp {
    position: relative;
    top: -239px;
    left: 100px;
    width: 77px;
}
button#pause {
    position: absolute;
    top: 215px;
    left: 20px;
    height: 58px;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button#play {
    position: absolute;
    top: 215px;
    left: 155px;
    height: 58px;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.animate{
    animation: jump 481ms;
    z-index: 1;
}
@keyframes jump {
    0% {top: 150px}
    40% {top: 100px}
    60% {top: 100px}
    100% {top: 150px}
}
#tower1 {
    width: 1000px;
    position: relative;
    /* top: -80px; */
    top: 167px; /*for demo only*/
    left: -103px;
    z-index: -1;
}
.tower1 {
    animation: move 10s infinite linear;
}
#tower2 {
    width: 1000px;
    position: relative;
    /* top: -383px; */
    top: -129px; /*for demo only*/
    left: -143px;
    z-index: -2;
}
.tower2 {
    animation: move 11s infinite linear;
}
#tower3 {
    width: 1000px;
    position: relative;
    /* top: -686px; */
    top: -425px;
    left: -183px; /*for demo only*/
    z-index: -3;
}
.tower3 {
    animation: move 12s infinite linear;
}
#cat {
    width: 100px;
    height: 86px;
    background-color: blue;
    position: relative;
    top: 395px;
    /* animation: block 4s infinite linear; */
}
#catImg {
    height: 84px;
}
#clippy {
    width: 49px;
    height: 98px;
    /* background-color: blue; */
    position: relative;
    /* top: 267px; */
    top: 360px; /* for presentation demo*/
    /* animation: block 5s infinite linear; */
}
#clippyImg {
    height: 100px;
}
#bug {
    width: 73px;
    height: 80px;
    background-color: blue;
    position: relative;
    top: 100px;
    /* animation: block 3s infinite linear; */
}
#bugImg {
    height: 80px;
}
#exp {
    width: 78px;
    height: 80px;
    background-color: blue;
    position: relative;
    top: 109px;
    /* animation: block 3s infinite linear; */
}
#expImg {
    height: 80px;
}
#popTart {
    width: 67px;
    height: 50px;
    background-color: blue;
    position: relative;
}
#tartImg {
    height: 50px;
}
#bean {
    width: 67px;
    height: 35px;
    /* background-color: blue; */
    position: relative;
}
#beanImg {
    height: 35px;
}
.health {
    animation: health 5s infinite;
}
.enemyRun {
    animation: block 5s infinite linear;
}
.holdUp {
    animation-play-state: paused;
}
.hide{
    visibility: hidden;
}
.show {
    visibility: visible;
}

@keyframes block {
    0%{left: 1000px;}
    100%{left: -40px;}
}

@keyframes move {
    from { left: 0px; }
    to   { left: -950px; }
}
@keyframes health {
    from { 
            /* left: 1100px;
            top: -1100px;  */
            left: 900px; /* for presentation demo*/
            top: -700px; /* for presentation demo*/}
    to   { 
            left: -150px;
            top: -550px; }
}
