.bodyStyle {
    background-color: gray;
    color: white;
    content: center;
  }
  html {
    background: gray;
  }
  
  h1 {
    text-align: center;
    font-size: 46px;
    padding: 6% 0 2%;
    text-align: center;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 0.25rem #0a0a0a); 
    font-weight: 700;
  }

.adventure {
    text-align: center;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 0.25rem #0a0a0a);
    padding: 2%;
  }

  .border {
    border: 2px solid;
    color: white;
    border-radius: 5px;
    margin: 0 3%;
    padding: 2% 2%;
  }

.text {
  color:#23dffc; 
  filter: drop-shadow(0 0 0.05rem #6e6e6e);
}

 .signInBtn {
  padding: 0 2%;
  margin-bottom: 10%;
 }

