* {
    padding: 0;
    margin: 0;
}
/* html {
    background: gray;
} */
#fight{
    background-image: url(./images/board2.gif);
    margin: 8%;
    position: absolute;
    z-index: -5;
    width: 950px;
    height: 630px;
    border: 1px solid black;
    z-index: -10;
    overflow: hidden;
}
#fightText {
    position: absolute;
    top: 820px;
    width: 950px;
    height: 255px;
    margin-left: 8%;
    align-items: center;
}
.buttons {
    padding: 1%;
    width: 90%;
    text-align: center;
}

.button {
    margin: 0 3%;
    width: 100px;
}
#characterFight {
    width: 475px;
    height: 315px;
    background-color: rgb(255, 255, 255, 0.5);
    position: absolute;
    top: 314px;
    left: -1px;
    border: solid 5px black;
}
#enemyFight {
    width: 475px;
    height: 315px;
    background-color: rgb(255, 255, 255, 0.5);
    position: absolute;
    top: -1px;
    left: 474px;
    border: solid 5px black;
}
.enemy {
    height: 245px;
    position: relative;
    left: 150px;
    margin-top: 4%;
}
#hero {
    height: 245px;
    position: relative;
    left: 150px;
    margin-top: 4%;
}

@media screen and (max-width: 1400px) {
    .header {
        padding-bottom: 3%;
    }
}

@media screen and (max-width: 991px) {
    .header {
        padding-bottom: 8%;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding-bottom: 12%;
    }
}
