.bodyStyle {
  /* background-color: gray; */
  color: white;
  content: center;
}
/* html {
  background: gray;
} */
h1 {
  text-align: center;
  font-size: 46px;
  padding: 6% 0 2%;
  text-align: center;
  color: rgb(255, 255, 255);
  filter: drop-shadow(0 0 0.25rem #0a0a0a); 
  font-weight: 700;
}

.inputForm {
  margin: 0 auto;
  padding-top: 30px;
}

.createButton {
  margin-bottom: 8px;
  margin: 5px;
  background-color: #4d565f;
  color: white;
}

/* .cardRow {
  align-items: center;
} */

/* These are for landing page on character select */
.deviantIcon2 {
  background: url('https://i.ibb.co/DpFjML4/deviant2.png');
}
.devianticon {
  background: url('https://i.ibb.co/LJ8NCzw/deviant.png');
}
.weebIcon {
  background: url('https://i.ibb.co/VN7cG4b/weeb.png');
}
.catskinnerIcon {
  background: url('https://i.ibb.co/YZd8FLC/catskinner.png');
}
.wildcardIcon {
  background: url('https://i.ibb.co/Yy69NHN/wildcard.png');
}
