/* @font-face{
    font-family: "west-england.regular";
    src: url('west-england.regular.ttf');
    } */
* {
    font-family: Courier, 'Courier-New', monospace;
}
h1 {
    font-family: 'VT323', monospace;
}

html {
    background: gray;
}